VITE_IDENTITY_URL=http://localhost:5050
VITE_CATALOG_URL=http://localhost:5001
VITE_ORDERS_URL=http://localhost:5002
VITE_WAREHOUSE_URL=http://localhost:5003
VITE_LOGISTICS_URL=http://localhost:5004
VITE_COMMERCE_URL=http://localhost:5005
VITE_FINANCE_URL=http://localhost:5006
VITE_ENGAGEMENT_URL=http://localhost:5007
